.Schedule-title {
  margin-bottom: 1rem;
  font-weight: 600;
  text-align: center;
  font-size: 1.4rem;
}

.Schedule-date {
  display: flex;
  justify-content: space-between;
  p {
    background-color: rgb(205, 235, 253);
    padding: 0.3rem;
    border-radius: 0.3rem;
    font-weight: 500;
  }
  button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
  }
}
.Schedule-box {
  overflow: auto;
  height: 80%;
  margin-top: 1rem;
  .non-schedule{
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    text-align: center;
  }
}
