.todo-detail-box {
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .detail-header {
    margin-top: 1rem;
    h3 {
      padding-left: 0.3rem;
      font-size: 1.5rem;
      background-color: #d9f7fc;
    }
    p {
      text-align: right;
    }
  }
  .detail-desc {
    padding: 0.3rem 0;
    border-top: 1.5px solid #bbd9ff;
    border-bottom: 1.5px solid #bbd9ff;
    height: 300px;
  }
  .detail-btn-box {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    .Xbtn-box {
      cursor: pointer;
    }
    .edit-box {
      cursor: pointer;
      .editBtn {
        margin-right: 0.6rem;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .todo-detail-box {
    height: 240px;
    .detail-desc {
      height: 170px;
    }
  }
}
